/*
Height 100vh = 100%. Kinda.
https://nicolas-hoizey.com/2015/02/viewport-height-is-taller-than-the-visible-part-of-the-document-in-some-mobile-browsers.html
*/
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* min-height: calc(100vh - 49px); */
  min-height: 100vh;
  position: relative;
  width: 100%;
}

/* .header img {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
} */

.header-vegogo-logo {
  font-family: "URWGeometric-Bold.woff";
  font-size: 1.75em;
  line-height: 1;
  letter-spacing: -1px;
  color: black;
  position: absolute;
  top: 20px;
  left: 20px;
}

.theNewGuide {
  position: absolute;
  top: 1vh;
  width: 80%;
  z-index: 2;
  padding: 0 20vw;
}

.theNewGuide h1 {
  font-family: "FrontageCondensed-3D.woff";
  font-size: 10em;
  color: #000;
  text-align: center;
}

.theNewGuide_line {
  display: block;
  white-space: nowrap;
}

.scroll {
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: 20px;
}

.visible {
  opacity: 1;
}

.bg-pic {
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* opacity: 0; */
  transform: scale(0);
}

.pic {
  width: 500px;
  height: 350px;
  background-size: 100%;
}

.pic:nth-of-type(1) {
  left: 5%;
  top: 20%;
  width: 300px;
  height: auto;
  background-image: url(./images/hatt.jpg);
}

.pic:nth-of-type(2) {
  left: 20%;
  top: 5%;
  width: 20vw;
  height: 40vh;
  background-image: url(./images/pepstop.jpg);
}

.pic:nth-of-type(3) {
  right: 20%;
  top: 50%;
  width: 300px;
  height: 250px;
  width: 20vw;
  height: 40vh;
  background-image: url(./images/rosendahl.jpg);
}

.pic:nth-of-type(4) {
  right: 4%;
  top: 10%;
  width: 200px;
  height: 250px;
  width: 15vw;
  height: 40vh;
  background-image: url(./images/mahalo.jpg);
}

.pic:nth-of-type(5) {
  right: 4%;
  top: 80%;
  width: 200px;
  height: 250px;
  width: 15vw;
  height: 40vh;
  background-image: url(./images/linlong.jpg);
}

.pic:nth-of-type(6) {
  left: 4%;
  top: 80%;
  width: 200px;
  height: 250px;
  width: 15vw;
  height: 40vh;
  background-image: url(./images/omnipollo.jpg);
}


.pic:nth-of-type(7) {
  left: 20%;
  top: 60%;
  width: 300px;
  height: 250px;
  width: 20vw;
  height: 40vh;

  background-image: url(./images/gossip.jpg);
}


@media (max-width: 1107px) {
  .header h1 {
    font-size: 8em;
  }

  .theNewGuide {
    top: 10vh;
    padding: 0 10vw;
  }
}


@media (max-width: 768px) {
  .header h1 {
    font-size: 7em;
  }

  .theNewGuide {
    top:15vh;
    padding: 0 20px;
  }
}

@media (max-width: 510px) {
  .header h1 {
    font-size: 5em;
  }

  .theNewGuide {
    top: 20vh;
    padding: 0 20px;
  }

  .pic {
    width: 40vw !important;
    height: 60vh !important;
  }
}


@media (max-width: 414px) {

  .header {
    width: 100%
  }

  .header h1 {
    font-size: 3.5em;
  }

  .theNewGuide {
    position: relative;
    top: auto;
    left: auto;
    padding: 0;
    width: 90%;
  }
}
