/*
Height 100vh = 100%. Kinda.
https://nicolas-hoizey.com/2015/02/viewport-height-is-taller-than-the-visible-part-of-the-document-in-some-mobile-browsers.html
*/
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* min-height: calc(100vh - 49px); */
  min-height: 100vh;
  position: relative;
  width: 100%;
}

/* .header img {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
} */

.header-vegogo-logo {
  font-family: "URWGeometric-Bold.woff";
  font-size: 1.75em;
  line-height: 1;
  letter-spacing: -1px;
  color: black;
  position: absolute;
  top: 20px;
  left: 20px;
}

.theNewGuide {
  /* position: absolute;
  top: 1vh; */
  /* width: 80%; */
  z-index: 2;
  /* padding: 0 20vw; */
  /* max-width: 90%; */
  position: relative;
}

.theNewGuide h1 {
  /* font-family: "FrontageCondensed-3D.woff"; */
  /* font-size: 10em;
  color: #000;*/
  text-align: center;
}

.theNewGuide img {
  width: 80vw;
  max-height: 70vh;
  height: auto;
}

.theNewGuide_line {
  display: block;
  white-space: nowrap;
}

.scroll {
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: 20px;
}

.visible {
  opacity: 1;
}

.bg-pic {
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: scale(0);
}

.pic_6 {
  left: 4%;
  top: 80%;
  width: 200px;
  height: 250px;
  width: 15vw;
  height: 40vh;
  background-image: url(./images/omnipollo.jpg);
}

.pic_7 {
  left: 20%;
  top: 60%;
  width: 300px;
  height: 250px;
  width: 20vw;
  height: 40vh;

  background-image: url(./images/gossip.jpg);
}

.pic {
  width: 20vw;
  height: 20vw;
}

.pic_1 {
  background-image: url(./images/hatt.jpg);
  left: 5%;
  top: 11%;
}

.pic_2 {
  top: 5%;
  width: 20vw;
  height: 15vw;
  background-image: url(./images/pepstop.jpg);
  left: 46%;
}

.pic_3 {
  background-image: url(./images/rosendahl.jpg);
  top: 25%;
  right: 0;
  width: 90px;
  height: 60px;
  width: 20vw;
  height: 20vw;
}

.pic_4 {
  background-image: url(./images/mahalo.jpg);
  top: 65%;
  left: 0;
  width: 25vw;
  height: 20vw;
}

.pic_5 {
  background-image: url(./images/linlong.jpg);
  bottom: 5%;
  right: 10%;
  width: 23vw;
  height: 25vw;
}

.pic_6 {
  display: none;
}

@media (max-width: 1107px) {
  .header h1 {
    /* font-size: 8em; */
    /* font-size: 13vw; */
  }

  .theNewGuide {
    /* top: 10vh; */
    /* padding: 0 10vw; */
  }
}

@media (max-width: 768px) {
  .theNewGuide {
    /* top: 15vh; */
    /* padding: 0 20px; */
    /* width: 90%; */
  }
}

@media (max-width: 510px) {
  .theNewGuide {
    /* top: 20vh; */
    /* padding: 0 20px; */
  }
}

@media (max-width: 640px) {
  .header {
    width: 100%;
  }

  .theNewGuide {
    /* position: relative;
    top: auto;
    left: auto;
    padding: 0;
    width: 90%; */
  }
}

@media (min-width: 900px) {
}
