.illis {
  width: 100vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.illis img {
  width: 50%;
  position: absolute;
  top: 10vh;
}

@media (max-width:768px) {
  .illis img {
    width: 85%;
  }

}

@media (max-width:468px) {
  .illis {
    height: 40vh;
  }

}
