.signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
  background-color: #69e0c2;
  text-align: center;
  position: relative;
}

.signup-txt {
  font-family: "URWGeometric-Bold.woff";
  font-size: 2em;
  line-height: 1.5em;
  margin-bottom: 50px;
}

.signup-button {
  height: auto;
  width: auto;
  padding: 13px 13px;
  outline: none;
  border: 0px;
  border-radius: 0px;
  margin-top: 50px;
  background: #000;
  color: #fff;
  font-family: "URWGeometric-SemiBold.woff";
  line-height: 1;
  font-size: 30px;
}

.signup-button:hover {
  cursor: pointer;
}

input {
  background: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid 2px white;
  padding-bottom: 10px;
  font-size: 50px;
  outline: none;
  width: 500px;
  text-align: center;
}

input::placeholder {
  font-family: "URWGeometric-Bold.woff";
  font-size: 40px;
  color: #fff;
}

@media (max-width: 648px) {
  .signup {
    padding: 0 50px;
  }

  input {
    font-size: 30px;
    width: 400px;
  }

  input::placeholder {
    font-size: 30px;
  }

}
